@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.pagination {
  @include content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}
