@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.field {
  width: 100%;
  max-width: 370px;
  padding: 8px 20px;
  text-align: left;
  color: $white;
  font-size: 17px;
  background-color: $secundary-200;
  border: 1px solid transparent;
  outline: none;
  margin: 15px 0;
  border-radius: 10px;
  :focus {
    border: 1px solid $primary-200;
  }
}
