@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.button {
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 500;

  &--primary {
    background-color: $primary-100;
    color: $secundary-200;
    border: solid 1px $primary-100;
    transition: all ease-in 0.3s;

    &:hover {
      background-color: $primary-200;
    }
  }

  &--secundary {
    background-color: $secundary-200;
    color: $white;
    border: solid 1px $secundary-200;
  }

  &--outline {
    background-color: transparent;
    color: $primary-100;
    border: solid 1px $primary-100;
    transition: all ease-in 0.3s;

    &:hover {
      background-color: $primary-200;
      border: solid 1px $primary-200;
      color: $secundary-200;
    }
  }

  &--disable {
    background-color: $backgroundDisable;
    color: $colorDisable;
    border: solid 1px $backgroundDisable;
    cursor: initial;
  }
}