@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.container {
  width: 100%;
  background-image: url('/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(110vh - 57.5px);
  @include flexCenter;
  flex-direction: column;
}
.content {
  @include flexCenter;
  opacity: 75%;
  padding: 20px;
  background-color: $tertiary-100;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
}
