@use "/src/scss/mixins" as *;
@use "/src/scss/theme" as *;

.text {
  text-align: center;
  &__small {
    font-size: 15px;
  }
  &__medium {
    font-size: 20px;
  }
  &__large {
    font-size: 25px;
  }
  &__primary {
    color: $gold;
  }
  &__secundary {
    color: $primary;
  }
  &__white {
    color: $white;
  }
}
