@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.paragraph {
  text-align: center;

  &--small {
    font-size: 15px;
  }

  &--medium {
    font-size: 20px;
  }

  &--large {
    font-size: 25px;
  }

  &--primary {
    color: $primary-100;
  }

  &--secundary {
    color: $secundary-200;
  }

  &--white {
    color: $white;
  }
}