@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.text {
  text-align: center;
  font-size: 48px;
  margin: 5px 0;
  font-weight: bold;
  &__primary {
    color: $gold;
  }
  &__secundary {
    color: $primary;
  }
  &__white {
    color: $white;
  }
}
