@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.title {
  text-align: center;
  font-size: 48px;
  margin: 5px 0;
  font-weight: bold;

  &--primary {
    color: $primary-100;
  }

  &--secundary {
    color: $secundary-200;
  }

  &---white {
    color: $white;
  }

  &--left {
    text-align: left;
  }
}