@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.container {
  background-color: $secundary-200;
  @include flexCenter;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 30px;
}
