@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.container {
  padding: 20px;
  @include flexCenter;
  flex-direction: column;
  background-color: $tertiary-100;
  border-radius: 4px;
  min-height: 180px;
  width: 100%;
  max-width: 550px;
  gap: 15px;
  &__row {
    flex-direction: row;
  }
}
