@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.container {
  padding: 20px;
  @include flexCenter;
  flex-direction: column;
  background-color: $secundary;
  border-radius: 4px;
  min-height: 180px;
  gap: 15px;
}
