@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.loading {
  border: solid 6px rgba(0, 0, 0, 0.1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-left-color: $primary-100;
  animation: spinner 1s linear infinite;

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
