@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.cards {
  @include content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 25px;
}
.buttons {
  @include content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}
.details {
  @include content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
