@use '/src/scss/mixins' as *;
@use '/src/scss/theme' as *;

.navBar {
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  background: $secundary-200;
  opacity: 90%;
  position: sticky;
  top: 0;
  left: 0;
}
.content {
  @include content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.title {
  text-align: center;
  font-size: 25px;
  color: $primary-100;
  cursor: pointer;
}
.menu {
  display: none;
  &__image {
    width: 60px;
    aspect-ratio: 1/1;
  }
  @media screen and (max-width: 1024px) {
    display: initial;
  }
}
.checkBox {
  display: none;
  &:checked ~ .options {
    padding: 20px 0;
    height: initial;
  }
}
.options {
  @include flexCenter;
  gap: 24px;
  background: $secundary-200;
  transition: all ease-out 150ms;
  &__option {
    text-align: center;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    &:hover {
      color: $primary-100;
    }
  }
  @media screen and (max-width: 1024px) {
    position: absolute;
    right: 0;
    top: 75px;
    width: 100%;
    max-width: 250px;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
